---
import { Image } from 'astro:assets';
import { images } from '../helpers/images';
import Text from './Text.astro';

export interface Props {
	text: string;
	imageName: string;
	collapsible?: boolean;
}

const { text, imageName, collapsible } = Astro.props;

// TODO
const image = images[`../images/${imageName}.png`] || images[`../images/${imageName}.jpg`] || images[`../images/001.jpg`];
if (!image) {
	throw new Error(`Image not found for ${imageName}`);
}

---

{
	collapsible 
	?
	<li class="link-card" id={imageName}>
		<details>
			<summary>
				<slot name="header" />
				<slot name="subheader" />
			</summary>

			<figure class="image-container">
				<Image class="image" src={image()} alt={text} />
				<div class="image-overlay">
					<slot name="image-overlay" />
				</div>
			</figure>
			<Text content={text} />
		</details>
	</li>
	:
	<li class="link-card" id={imageName}>
		<slot name="header" />
		<slot name="subheader" />
		<figure class="image-container">
			<Image class="image" src={image()} alt={text} />
			<div class="image-overlay">
				<slot name="image-overlay" />
			</div>
		</figure>
		<Text content={text} />
	</li>
}




<style>
	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: baseline;;

		padding: 1em;
		padding-inline: 2em;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.image {
		max-width: 100%;
		height: auto;
		margin-bottom: 2em;
	}

	.image-container {
		position: relative;
		margin: 0;
	}

	.image-overlay {
		position: absolute;
		left: 10px;
		top: 10px;
		padding: 4px;
	}

	details {
		margin-top: 0.25em;
	}

	@media (max-width: 500px) {

		.link-card {
			padding-top: 0;
			padding-inline: 1em;
		}
	}
</style>
