---
import { Image } from 'astro:assets';
import { images } from '../helpers/images';

export interface Props {
	date: Date;
	text: string;
	clue: string;
	number: string;
}

const { text, date, clue, number } = Astro.props;

const image = images[`../images/${number}.png`] || images[`../images/${number}.jpg`];
if (!image) {
	throw new Error(`Image not found for clue ${number}`);
}

// Format date as 04 September 2021
const formattedDate = new Intl.DateTimeFormat('en-GB', {
	day: '2-digit',
	month: 'long',
	year: 'numeric',
}).format(date);

const textLines = text.split('\n').map((line) => (line ? line : "​"));

---

<li class="link-card" id={number}>
	<h2>{number}</h2>
	<header>
		<p class="date">📆 {formattedDate}</p>
		<p>-</p>
		<p class="clue-s">🧩 <span class="clue">{clue}</span></span></p>
	</header>
	<Image class="image" src={image()} alt={text} />
	<div class="text">
		{textLines.map((line) => (
			<p>{line}</p>
		))}
	</div>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: baseline;;

		padding: 1em;
		padding-inline: 2em;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.image {
		max-width: 400px;
		height: auto;
		margin-bottom: 2em;
	}

	.date {
		font-weight: bold;
		color: white;
		margin-bottom: 1em;
	}

	.clue {
		font-weight: bold;
	}

	header {
		font-size: 1em;
		display: flex;
		gap: 1em;
	}

	header p {
		display: block;
	}

	.text {
		padding-left: 1em;

		border: 1px solid rgb(var(--accent-dark));
		border-width: 0 0 0 0.25em;
		border-image: var(--accent-gradient) 1;
	}

	.text p {
		margin-top: 0;
		margin-bottom: 0;
		opacity: 0.75;
	}

	h2 {
		font-size: 1em;
		font-weight: bold;
		color: white;
		margin-bottom: 0;
		text-shadow: 0 0 5px rgba(0, 0, 0, 1);
		padding: 4px;

		background:
			var(--accent-gradient) rgba(0, 0, 0, 0.9) ;

		background-size: 400%;
		border-radius: 5px;
	}
</style>
